<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="restaurantVO" type="com.project.waiter.beans.vo.RestaurantVO"></typeAlias>
        <typeAlias alias="waitsVO" type="com.project.waiter.beans.vo.WaitsVO"></typeAlias>
        <typeAlias alias="userVO" type="com.project.waiter.beans.vo.UserVO"></typeAlias>
    </typeAliases>
</configuration>