<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'관리 - '+${rest.name}"></title>

    <script>
        cSts = null;

        uuid = "[(${uuid})]"
        rest = JSON.parse('[(${restStr})]')
        phone = "[[${phone}]]"
        code = "[[${code}]]"
        zeroCount = "[[${zeroCount}]]"
        pass = "[[${pass}]]"
    </script>

    <!--  jQuery  -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>

    <!--  Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--  css  -->
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/admin/index.css">

    <!--  js  -->
    <script src="/js/util.js"></script>
    <script src="/js/admin/changeStatus.js"></script>
    <script src="/js/admin/index.js"></script>

    <script>
        $(document).ready(init)
    </script>
</head>
<body>
    <div class="info"></div>
    <div class="flame">
        <div class="window">
            <div class="ui">
                <table class="table table-light">
                    <thead>
                    <tr>
                        <td>예약번호</td>
                        <td>전화번호</td>
                        <td>입장</td>
                        <td>강제 취소</td>
                    </tr>
                    </thead>
                    <tbody class="list">

                    </tbody>
                </table>
            </div>
            <div class="console">
                <div class="chatText"></div>
                <div class="form input-group chatInputField">
                    <input type="text" class="chat2Send form-control" placeholder="메시지 내용" aria-describedby="searchRun">
                    <button type="button" id="sendMsg" class="btn btn-secondary">전송</button>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <div class="title">제어판</div>
            <hr>
            <div class="active">
                <div class="subtitle" th:if="${rest.active} == 2">Status - 영업중</div>
                <div class="subtitle" th:if="${rest.active} == 1">Status - 쉬어가는중</div>
                <div class="subtitle" th:if="${rest.active} == 0">Status - 영업종료</div>
                <div class="btn-group btns" role="group">
                    <button class="btn btn-outline-success" th:if="${rest.active} == 2" disabled>영업 시작</button>
                    <button class="btn btn-outline-success" th:unless="${rest.active} == 2" onclick="cSts.run()">영업 시작</button>
                    <button class="btn btn-outline-secondary" th:if="${rest.active} == 1" disabled>쉬어가는중</button>
                    <button class="btn btn-outline-secondary" th:unless="${rest.active} == 1" onclick="cSts.idle()">쉬어가는중</button>
                    <button class="btn btn-outline-danger" th:if="${rest.active} == 0" disabled>영업 종료</button>
                    <button class="btn btn-outline-danger" th:unless="${rest.active} == 0"  onclick="cSts.stop()">영업 종료</button>
                </div>
            </div>
            <hr>
            <div class="waitTime">
                <div class="subtitle">대기시간: </div>
                <div class="inputs">
                    <input type="text" class="form-control" name="c_wait_time" id="c_wait_time" placeholder="평균 대기시간을 입력하여 주세요 (단위: 분)">
                    <label>자동 계산 - <input type="checkbox" class="checkbox" name="is_automated" id="is_automated"></label>
                </div>
            </div>
            <hr>
            <div class="chat">
                <div class="subtitle">문의 목록</div>
                <div class="list"></div>
            </div>
        </div>
    </div>
</body>
</html>