<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <!--  jQuery  -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <!--  utils  -->
    <link rel="stylesheet" href="/css/util.css">
    <script src="/js/util.js"></script>

    <script>
        lat = [[${loc1}]]
        lng = [[${loc2}]]
        list = JSON.parse('[(${list})]')
        rest = JSON.parse('[(${rest})]')
        uuid = "[[${uuid}]]"
        feedback = "[(${msg})]"

        document.onreadystatechange = (e) => {
            if (document.readyState == "complete") {
                init()
            }
        }
    </script>
    <script src="/js/view/index.js"></script>

    <link rel="stylesheet" href="/css/view.css">

    <!--  BootStrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
    <div class="form input-group">
        <input type="text" class="search form-control" placeholder="검색" aria-describedby="searchRun">
        <button type="button" id="searchRun" class="btn btn-secondary">검색</button>
    </div>
    <div class="info"></div>
    <div id="map" style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px"></div>
</body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKOEDg8sEA3LkM98wUtdOCFQnFH7cpIxk&callback=initMap"></script>

</html>